[Desktop Entry]
Type=Application
Name=ETA Chrome Virtual Keyboard
Comment=Show ETA keyboard or fallback to Onboard
Exec=bash -c "sleep 4; python3 /usr/lib/etahta/chrome-osk.py"
Icon=keyboard
Terminal=false
X-GNOME-Autostart-enabled=true
NoDisplay=false

